.popup {
  width: 550px;
  -webkit-user-select: none;
  user-select: none;
  margin: 24px;
}

.iptWrap {
  display: flex;
  margin: 16px 0;
  > input {
    margin-right: 16px;
  }
}

.btn{
  margin-top: 16px;
  display: flex;
  >div{
    flex: 1;
  }
  >div:last-child{
    text-align: right;
  }
}
.open{
  margin-right: 16px;
}

.sync{
  margin-left: 16px;
}